myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1605177151785" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="STID" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1605177151785">
    <wsdl:types>
        <xs:schema xmlns="STID" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="STID" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ReceiveTruckActivityInfo_type">
                <xs:sequence>
                    <xs:element name="UID" type="xs:string"/>
                    <xs:element name="Tid_Number" type="xs:string" minOccurs="0"/>
                    <xs:element name="Tag_Number" type="xs:string" minOccurs="0"/>
                    <xs:element name="Card_Number" type="xs:string" minOccurs="0"/>
                    <xs:element name="No_Request" type="xs:string" minOccurs="0"/>
                    <xs:element name="Activity_Type" type="xs:string"/>
                    <xs:element name="Activity_Time" type="xs:string"/>
                    <xs:element name="Plat_No" type="xs:string"/>
                    <xs:element name="Gate_Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="Terminal_Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="Driver_ID" type="xs:string" minOccurs="0"/>
                    <xs:element name="Send_Date_time" type="xs:string"/>
                    <xs:element name="CargoType" type="xs:string" minOccurs="0"/>
                    <xs:element name="Attribute_1" type="xs:string" minOccurs="0"/>
                    <xs:element name="Attribute_2" type="xs:string" minOccurs="0"/>
                    <xs:element name="Attribute_3" type="xs:string" minOccurs="0"/>
                    <xs:element name="Attribute_4" type="xs:string" minOccurs="0"/>
                    <xs:element name="is_cancel" type="xs:string" minOccurs="0"/>
                    <xs:element name="cancel_desc" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReceiveTruckActivityResponse_Type">
                <xs:sequence>
                    <xs:element name="Card_Number" type="xs:string"/>
                    <xs:element name="Activity_Type" type="xs:string"/>
                    <xs:element name="Response_Code" type="xs:string"/>
                    <xs:element name="Response_Message" type="xs:string"/>
                    <xs:element name="Response_Date" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SendTruckActivityInfoResponse_Type">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:element name="ReceiveTruckActivityInfo" type="ns0:ReceiveTruckActivityInfo_type"/>
            <xs:element name="ReceiveTruckActivityInfoResponse" type="ns0:ReceiveTruckActivityResponse_Type"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="STID_activity">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Activity">
            <wsdl:input message="tns:ActivityRequest"/>
            <wsdl:output message="tns:ActivityResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Activity">
            <soap:operation style="document" soapAction="/Services/STID_V1-service0.serviceagent/PortTypeEndpoint0/Activity"/>
            <wsdl:input>
                <soap:body use="literal" parts="ReqActivity"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ResActivity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ActivityRequest">
        <wsdl:part name="ReqActivity" element="ns0:ReceiveTruckActivityInfo"/>
    </wsdl:message>
    <wsdl:message name="ActivityResponse">
        <wsdl:part name="ResActivity" element="ns0:ReceiveTruckActivityInfoResponse"/>
    </wsdl:message>
</wsdl:definitions>
